# Brazil Weekly

## Connect with database and retrieve data

In [2]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import json
import time
import logging
import datetime
import udb

engine_ebdb = udb.get_ebdb_engine()
engine_analytics = udb.get_analytics_engine()
engine_airflow = udb.get_airflow_engine()

## Create tables

In [3]:
# Brazil database
users = pd.read_sql_table("auth_user", con=engine_ebdb)
subscriptions = pd.read_sql_table("payment_app_subscription", con=engine_ebdb)
company_orders = pd.read_sql_table("company_app_companyorder", con=engine_ebdb)
historical_subscriptions = pd.read_sql_table("payment_app_historicalsubscription", con=engine_ebdb)

## 1. Overall, how this week compares to the last?

In [5]:
day = datetime.date.today()
delta = 0 if day.weekday() == 6 else 7
dt = day #datetime.datetime.combine(day, datetime.time(23, 59, 59))
week_start = dt - datetime.timedelta(days=dt.weekday()) - datetime.timedelta(days=delta)
week_end = week_start + datetime.timedelta(days=7)

In [6]:
total_students_last_week = pd.read_sql_query("""SELECT count(DISTINCT payment_app_subscription.user_id) FROM payment_app_subscription
                                                INNER JOIN auth_user ON payment_app_subscription.user_id = auth_user.id
                                                WHERE status IN ('active','payment_credit_retry')
                                                  AND register_date::date <= '""" + week_start.strftime('%Y-%m-%d') + "'", con=engine_ebdb)['count'].iloc[0]

total_students_curr_week = pd.read_sql_query("""SELECT COUNT(DISTINCT payment_app_subscription.user_id) FROM payment_app_subscription
                                                INNER JOIN auth_user ON payment_app_subscription.user_id = auth_user.id
                                                WHERE status IN ('active','payment_credit_retry')
                                                  AND register_date::date <= '""" + week_end.strftime('%Y-%m-%d') + "'", con=engine_ebdb)['count'].iloc[0]

print("Brazil Paying students until " + week_start.strftime('%A, %b-%d') + ": " + str(total_students_last_week))
print("Brazil Paying students until " + week_end.strftime('%A, %b-%d') + ": " + str(total_students_curr_week))

Brazil Paying students until Monday, Nov-13: 7867
Brazil Paying students until Monday, Nov-20: 8127

In [57]:
paying_students_curr_week = pd.read_sql("""SELECT *
                                        FROM payment_app_subscription ps
                                        INNER JOIN payment_app_product pp ON ps.product_id = pp.id
                                        INNER JOIN auth_user au ON ps.user_id = au.id
                                        WHERE ps.status not IN ('invalid')
                                        and register_date::date between (current_date::date - cast(extract(isodow from current_date::date) 
                                        as int) + 1) 
                                        and (current_date::date - cast(extract(dow from  current_date::date) as int) + 7)""", con=engine_ebdb)

In [58]:
paying_students_last_week = pd.read_sql("""SELECT *
                                        FROM payment_app_subscription ps
                                        INNER JOIN payment_app_product pp ON ps.product_id = pp.id
                                        INNER JOIN auth_user au ON ps.user_id = au.id
                                        WHERE ps.status not IN ('invalid')
                                        and register_date::date between (current_date::date - cast(extract(isodow from current_date::date) 
                                        as int) - 6) 
                                        and (current_date::date - cast(extract(dow from  current_date::date) as int))""", con=engine_ebdb)

### Net additions last week

In [59]:
net_add = total_students_curr_week - total_students_last_week; 
print("Net additions last week: %d" % net_add)
perc_growth_vs_lw = net_add / total_students_last_week; 
print("Net growth vs last week: {0:+.1f}%".format(perc_growth_vs_lw * 100))

Net additions last week: 260
Net growth vs last week: +3.3%

### Paying students, cancellations, pauses and graduations

In [55]:
new_total_paying_students_curr_week = pd.read_sql_query("""SELECT COUNT(distinct ps.user_id) as new_std_this_week
                                        FROM payment_app_subscription ps
                                        INNER JOIN payment_app_product pp ON ps.product_id = pp.id
                                        INNER JOIN auth_user au ON ps.user_id = au.id
                                        WHERE ps.status not IN ('invalid')
                                        and register_date::date between (current_date::date - cast(extract(isodow from current_date::date) 
                                        as int) + 1) 
                                        and (current_date::date - cast(extract(dow from  current_date::date) as int) + 7)""", con=engine_ebdb)['new_std_this_week'].iloc[0]
print("New paying students this week: %d" % new_total_paying_students_curr_week)

New paying students this week: 119

In [56]:
new_total_paying_students_last_week = pd.read_sql_query("""SELECT COUNT(distinct ps.user_id) as new_std_this_week
                                        FROM payment_app_subscription ps
                                        INNER JOIN payment_app_product pp ON ps.product_id = pp.id
                                        INNER JOIN auth_user au ON ps.user_id = au.id
                                        WHERE ps.status not IN ('invalid')
                                        and register_date::date between (current_date::date - cast(extract(isodow from current_date::date) 
                                        as int) - 6) 
                                        and (current_date::date - cast(extract(dow from  current_date::date) as int))""", con=engine_ebdb)['new_std_this_week'].iloc[0]
print("New paying students last week: %d" % new_total_paying_students_last_week)

New paying students last week: 353

In [378]:
graduated_students_curr_week = pd.read_sql_query("""with grad_status_std AS
  (SELECT au.username, ps.id, ps.product_id, ps.graduation_date
   FROM payment_app_subscription ps
   INNER JOIN payment_app_product AS pp ON ps.product_id = pp.id
   INNER JOIN auth_user AS au ON ps.user_id = au.id
   WHERE ps.status IN ('graduated')), this_week AS
  (SELECT count(DISTINCT pg.id) AS grad_this_week FROM grad_status_std pg
   WHERE pg.graduation_date BETWEEN (CURRENT_DATE::date - cast(extract(isodow FROM CURRENT_DATE::date) AS int) + 1)
   AND (CURRENT_DATE::date - cast(extract(dow FROM CURRENT_DATE::date) AS int) + 7))
   SELECT * FROM this_week""", con=engine_ebdb)['grad_this_week'].iloc[0]
cancelled_students_curr_week = pd.read_sql_query("""with cancel_status_std AS
  (SELECT au.username, ps.id, ps.product_id, ps.cancel_date
   FROM payment_app_subscription ps
   INNER JOIN payment_app_product AS pp ON ps.product_id = pp.id
   INNER JOIN auth_user AS au ON ps.user_id = au.id
   WHERE ps.status IN ('cancelled')), this_week AS
  (SELECT count(DISTINCT pg.id) AS cancel_this_week FROM cancel_status_std pg
   WHERE pg.cancel_date BETWEEN (CURRENT_DATE::date - cast(extract(isodow FROM CURRENT_DATE::date) AS int) + 1)
   AND (CURRENT_DATE::date - cast(extract(dow FROM CURRENT_DATE::date) AS int) + 7))
   SELECT * FROM this_week""", con=engine_ebdb)['cancel_this_week'].iloc[0]
paused_students_curr_week = pd.read_sql_query("""with pause_status_std AS
  (SELECT au.username, ps.id, ps.product_id, ps.paused_date
   FROM payment_app_subscription ps
   INNER JOIN payment_app_product AS pp ON ps.product_id = pp.id
   INNER JOIN auth_user AS au ON ps.user_id = au.id
   WHERE ps.status IN ('paused')), 
   this_week AS
  (SELECT count(DISTINCT pg.id) AS paused_this_week FROM pause_status_std pg
   WHERE pg.paused_date BETWEEN (CURRENT_DATE::date - cast(extract(isodow FROM CURRENT_DATE::date) AS int) + 1)
   AND (CURRENT_DATE::date - cast(extract(dow FROM CURRENT_DATE::date) AS int) + 7))
   SELECT * FROM this_week""", con=engine_ebdb)['paused_this_week'].iloc[0]
drops_this_week = (cancelled_students_curr_week + paused_students_curr_week + graduated_students_curr_week)
"Cancellations, pauses and graduations this week: %d" % drops_this_week

'Cancellations, pauses and graduations this week: 23'

In [246]:
# Code to turnaround Nanodegree codes with ndXXX-XX
products = pd.read_sql_table("payment_app_product", con=engine_ebdb)
products['code2'] = products.apply(lambda row: row['code'].split('-')[0], axis=1)
products['code_old'] = products['code']
products['code'] = products['code2']
products

,id,name,code,price,sku,whitelist_enabled,acronym,accounting_sku,internal_name,access_period,access_model,access_unit,fifty_back_eligible,active,code2,code_old
0,19,Nanodegree Desenvolvedor de Realidade Virtual,nd017,399.0,6372143879290880,False,VRND,017-100,Nanodegree Desenvolvedor de Realidade Virtual ...,1,subscription,months,False,True,nd017,nd017
1,15,Nanodegree Test,nd800,1.0,6422863890087936,False,TestND,800-100,Nanodegree Test - Subscription - 1 months,1,subscription,months,False,True,nd800,nd800
2,21,Nanodegree Engenheiro de Inteligência Artificial,nd889,2400.0,4717113544671232,False,AIND,889-115,Nanodegree Engenheiro de Inteligência Artifici...,3,term_based,months,False,True,nd889,nd889
3,14,Nanodegree Introdução à Programação,nd000,399.0,4723990152871936,False,IPND,000-100,Nanodegree Introdução à Programação - Subscrip...,1,subscription,months,False,True,nd000,nd000
4,13,Nanodegree Desenvolvedor Web Front-End,nd001,399.0,6087356385591296,False,FEND,001-100,Nanodegree Desenvolvedor Web Front-End - Subsc...,1,subscription,months,False,True,nd001,nd001
5,12,Nanodegree Desenvolvedor iOS,nd003,399.0,5358809337561088,False,IOSND,003-100,Nanodegree Desenvolvedor iOS - Subscription - ...,1,subscription,months,False,True,nd003,nd003
6,20,Nanodegree Predictive Analytics,nd008,399.0,5539181600309248,False,PAND,008-100,Nanodegree Predictive Analytics - Subscription...,1,subscription,months,False,True,nd008,nd008
7,23,Deep Learning Nanodegree Foundation,nd101,999.0,5976198699155456,False,DLNDF,101-130,Deep Learning Nanodegree Foundation - Term-bas...,6,term_based,months,False,True,nd101,nd101
8,11,Nanodegree Desenvolvedor Full-Stack,nd004,399.0,5229920858669056,False,FSND,004-100,Nanodegree Desenvolvedor Full-Stack - Subscrip...,1,subscription,months,False,True,nd004,nd004
9,10,Nanodegree Iniciando com iOS,nd006,399.0,6367474689507328,False,BiOSND,006-100,Nanodegree Iniciando com iOS - Subscription - ...,1,subscription,months,False,True,nd006,nd006
10,9,Nanodegree Empreendedor de Tecnologia,nd007,399.0,4695073144700928,True,TEND,007-100,Nanodegree Empreendedor de Tecnologia - Subscr...,1,subscription,months,False,True,nd007,nd007
11,7,Nanodegree Programação Ruby,nd010,399.0,5450052428103680,True,RUBY,010-100,Nanodegree Programação Ruby - Subscription - 1...,1,subscription,months,False,True,nd010,nd010
12,18,Nanodegree Engenheiro de Carro Autônomo (Módul...,nd013,2400.0,5072146815647744,False,SCND,013-110,Nanodegree Engenheiro de Carro Autônomo (Módul...,3,term_based,months,False,True,nd013,nd013
13,4,Nanodegree Senior Web Dev,nd802,399.0,5023849200222208,True,SWDND,802-100,Nanodegree Senior Web Dev - Monthly Subscripti...,1,subscription,months,False,True,nd802,nd802
14,30,Nanodegree Engenheiro de Robótica,nd209,3399.0,5800160845234176,False,ROBOND,209-120-A,Robotics Nanodegree,4,term_based,months,False,True,nd209,nd209
15,37,Nanodegree React,nd019,1499.0,6552157666017280,False,ReactND,019-120-1,Nanodegree React - Term-based - 4 months - Nor...,4,term_based,months,False,True,nd019,nd019
16,34,Nanodegree Fundamentos de Data Science I,nd110,399.0,5780300916457472,False,DS1NDF,110-110A,Nanodegree Fundamentos de Data Science I - Ter...,1,term_based,months,False,True,nd110,nd110
17,33,Nanodegree Engenheiro de Inteligência Artifici...,nd889,2400.0,5762363195260928,False,AIND,889-115,Nanodegree Engenheiro de Inteligência Artifici...,3,term_based,months,False,True,nd889,nd889
18,29,Nanodegree Engenheiro de Carro Autônomo (Módul...,nd013,2400.0,5250538758340608,False,SCND,013-115,Nanodegree Engenheiro de Carro Autônomo (Módul...,3,term_based,months,False,True,nd013,nd013
19,35,Nanodegree Engenheiro de Carro Autônomo (Módul...,nd013,2400.0,5964735720849408,False,SCND,013-115,Nanodegree Engenheiro de Carro Autônomo (Módul...,3,term_based,months,False,True,nd013,nd013
20,47,Nanodegree Engenheiro de Robótica,nd209,3599.0,4598957998211072,False,ROBOND,209-120-A,Robotics Nanodegree,4,term_based,months,False,True,nd209,nd209
21,24,Nanodegree Machine Learning,nd009,2400.0,6219077724012544,False,MLND,009-130,Nanodegree Machine Learning - Pre-paid - 6 months,6,pre_paid,months,False,False,nd009,nd009
22,8,Nanodegree Machine Learning,nd009,399.0,5095009828995072,False,MLND,009-100,Nanodegree Machine Learning - Subscription - 1...,1,subscription,months,False,False,nd009,nd009
23,27,Associate Android Developer Fast Track,nd818,1499.0,4815054950236160,False,AADFT,801-121,Associate Android Developer Fast Track - Pre P...,4,pre_paid,months,False,False,nd818,nd818
24,1,Nanodegree Analista de Dados,nd002,399.0,5047285293252608,False,DAND,002-100,Nanodegree Analista de Dados - Subscription - ...,1,subscription,months,False,False,nd002,nd002
25,16,Nanodegree Android Basics,nd803,399.0,5912387940777984,False,ABND,803-100,Nanodegree Android Basics - Subscription - 1 m...,1,subscription,months,False,False,nd803,nd803
26,5,Nanodegree Desenvolvedor Android,nd801,399.0,6049317940625408,False,AND,801-100,Nanodegree Desenvolvedor Android - Subscriptio...,1,subscription,months,False,False,nd801,nd801
27,44,Nanodegree Fundamentos de Data Science II,nd111,849.0,5041508658053120,False,DS2NDF,111-115-1,Nanodegree Fundamentos de Data Science II - Te...,2,term_based,months,False,False,nd111,nd111
28,38,Nanodegree Fundamentos de Data Science II,nd111,999.0,5717556987035648,False,DS2NDF,111-115-1,Nanodegree Fundamentos de Data Science II - Te...,2,term_based,months,False,False,nd111,nd111
29,32,Nanodegree Marketing Digital,nd018,2490.0,5189737041231872,False,DMND,018-115-2,Nanodegree Marketing Digital - Term 2 (08/may/...,3,term_based,months,False,False,nd018,nd018
30,42,Nanodegree Marketing Digital,nd018,2290.0,4561494028189696,False,DMND,018-115-2,Nanodegree Marketing Digital - Term-based - 3 ...,3,term_based,months,False,False,nd018,nd018
31,28,Nanodegree Marketing Digital,nd018,1990.0,4796678201802752,False,DMND,018-115,Nanodegree Marketing Digital - Term-based - 3 ...,3,term_based,months,False,False,nd018,nd018
32,41,Nanodegree Marketing Digital,nd018,1990.0,5403301175754752,False,DMND,018-115-2,Nanodegree Marketing Digital - Term-based - 3 ...,3,term_based,months,False,False,nd018,nd018
33,46,DATA SCIENCE PARA NEGÓCIOS,nd115,1999.0,4738057575202816,False,DAND,115-PT-140-A-1 DAND,NEW DATA SCIENCE,6,term_based,months,False,True,nd115,nd115
34,43,Digital Marketing Nanodegree,nd018,2290.0,5110262326755328,False,DMND,018-PT-115,Digital Marketing Nanodegree - PT,3,term_based,months,False,True,nd018,nd018-PT
35,39,Deep Learning Nanodegree Foundation,nd101,1099.0,4904026662633472,False,DLNDF,101-130,Deep Learning Nanodegree Foundation - Term-bas...,3,term_based,months,False,True,nd101,nd101
36,36,Nanodegree React,nd019,1199.0,5197686310567936,False,ReactND,019-120-1,Nanodegree React - Term-based - 4 months - Pro...,4,term_based,months,False,True,nd019,nd019
37,40,Nanodegree Introdução à Programação,nd000,999.0,5960781286998016,False,IPND,000-130-1-BR,Nanodegree Introdução à Programação - Term-bas...,6,term_based,months,False,True,nd000,nd000-br
38,26,Nanodegree Machine Learning,nd009,3600.0,6630393320177664,False,MLND,009-160,Nanodegree Machine Learning - Pre-paid - 12 mo...,12,pre_paid,months,False,False,nd009,nd009
39,45,Nanodegree Machine Learning,nd009,1999.0,6692145049239552,False,MLND,009-BR-140,Nanodegree Machine Learning - Term Based - 6 m...,6,term_based,months,False,True,nd009,nd009-br
40,48,Nanodegree Desenvolvedor Android,nd801,2099.0,4701185494876160,False,ADND,801-PT-145-1,Nanodegree Desenvolvedor Android - Term Based ...,8,term_based,months,False,True,nd801,nd801-br
41,49,Nanodegree Android Basics,nd803,1499.0,4632470447325184,False,ABND,803-PT-130-1,Nanodegree Android Basics - Term Based - 5 months,5,term_based,months,False,True,nd803,nd803-br
42,51,Introdução a Carros Autônomos,nd113,2400.0,5420779750686720,False,,113-125-A,Introdução a Carros Autônomos,3,term_based,months,False,True,nd113,nd113
43,52,Análise de Tendências para Negócios,nd008,1299.0,6235461554143232,False,PAND,008-PT-140-A,Análise de Tendencias para Negocios - Term Bas...,8,term_based,months,False,True,nd008,nd008-br
44,56,Nanodegree React,nd019,1199.0,5340261102780416,False,ReactND,019-125-PT-A5,Nanodegree React - Term-based - 4 months - Nor...,4,term_based,months,False,True,nd019,nd019-br
45,57,Fundamentos de Front-End,nd001,499.0,6103349485764608,False,FEND,001-115-PT-A1,FEND TERM 1,3,term_based,months,False,True,nd001,nd001-br
46,53,Nanodegree Fundamentos de Data Science I,nd110,499.0,5109802165469184,False,DSF1ND,110-PT-115-A5,Nanodegree Fundamentos de Data Science I - Ter...,3,term_based,months,False,True,nd110,nd110
47,58,Nanodegree Desenvolvedor Front-End Avançado,nd001,999.0,5701191296745472,False,FEND,001-130-PT-B1,FEND TERM 2,8,term_based,months,False,True,nd001,nd001-br
48,50,Nanodegree Fundamentos de Data Science II,nd111,699.0,6511611870314496,False,DS2NDF,111-115-1,Nanodegree Fundamentos de Data Science II - Te...,2,term_based,months,False,True,nd111,nd111
49,60,Nanodegree Desenvolvedor Web Full Stack,nd004,1599.0,4814629314887680,False,FSND,004-140-PT-A,FSND,8,term_based,months,False,True,nd004,nd004-br
50,55,Nanodegree Especialista ARKit - Unity,nd114,399.0,6109151028707328,False,ARUND,114-110,Arkit Unity,3,pre_paid,months,False,True,nd114,nd114
51,59,Nanodegree Google Adwords,nd124,1299.0,6417003565416448,False,GAND,124-120-EN-A,Nanodegree Google Adwords - Term-based,4,term_based,months,False,True,nd124,nd124
52,61,Nanodegree Digital Marketing Extension,nd018,299.0,4832100621090816,False,DMND,018-PT-115,Nanodegree Digital Marketing Extension,1,term_based,months,False,True,nd018,nd018-PT
53,54,Nanodegree Especialista ARKit - Swift,nd116,399.0,5512521283928064,False,ARSND,116-110,ARKIT - Swift,3,pre_paid,months,False,True,nd116,nd116
54,62,Startup Founder Nanodegree,nd022,2900.0,to be advised,False,SFND,None,Startup Founder Nanodegree,3,term_based,months,False,False,nd022,nd022

In [266]:
english_names = pd.read_sql_table('nd_names_in_english', con=engine_airflow)[['code', 'name']]
english_names.rename(columns={'name': 'eng_name1'}, inplace=True)
products_eng_names = products.join(english_names.set_index('code'), on='code')
products_eng_names = products_eng_names[['code2', 'eng_name1']]
products_eng_names = products_eng_names.drop_duplicates()
products_eng_names

    code2                     eng_name1
0   nd017               Virtual Reality
1   nd800                          Test
2   nd889       Artificial Intelligence
3   nd000          Intro to Programming
4   nd001           Front-end Developer
5   nd003                 iOS Developer
6   nd008          Predictive Analytics
7   nd101                 Deep Learning
8   nd004          Full-stack Developer
9   nd006                 Beginning iOS
10  nd007         Tech Entrepreneurship
11  nd010                Ruby Developer
12  nd013              Self Driving Car
13  nd802          Senior Web Developer
14  nd209                      Robotics
15  nd019               React Developer
16  nd110   Data Science Fundamentals I
21  nd009              Machine Learning
23  nd818            Android Fast Track
24  nd002                  Data Analyst
25  nd803                Android Basics
26  nd801             Android Developer
27  nd111  Data Science Fundamentals II
29  nd018             Digital Marketing
33  nd115     Data Science for Business
42  nd113                           NaN
50  nd114                           NaN
51  nd124                           NaN
53  nd116                           NaN
54  nd022                           NaN

In [267]:
paying_students_curr_week_grouped = paying_students_curr_week[['user_id','code']].groupby(['code']).agg(['count'])
paying_students_curr_week_grouped = paying_students_curr_week_grouped.reset_index()

In [345]:
count_code_curr_week = paying_students_curr_week_grouped.copy()
count_code_curr_week.columns = count_code_curr_week.columns.droplevel()
count_code_curr_week.columns=['code', 'count']
count_code_curr_week = count_code_curr_week.sort_values('count', ascending=False)
count_code_curr_week['code'] = paying_students_curr_week_by_nd.apply(lambda row: row['code'].split('-')[0], axis=1)
count_code_curr_week.reset_index(inplace=True,drop=True)

In [356]:
top_nds = count_code_curr_week
top_nds = count_code_curr_week.join(products_eng_names.set_index('code2'), on='code')
top_nds = top_nds.rename(columns={'eng_name1': 'product_id', 'count': 'students'})
top_nds = top_nds[['product_id','students']]
top_nds = top_nds.fillna('empty')
top_nds['%'] = top_nds['students'] / new_total_paying_students_curr_week
top_nds

                      product_id  students         %
0    Data Science Fundamentals I        36  0.302521
1              Digital Marketing        17  0.142857
2   Data Science Fundamentals II        13  0.109244
3               Machine Learning        11  0.092437
4                React Developer         8  0.067227
5            Front-end Developer         7  0.058824
6           Predictive Analytics         6  0.050420
7           Intro to Programming         5  0.042017
8                React Developer         5  0.042017
9      Data Science for Business         4  0.033613
10                Android Basics         4  0.033613
11          Full-stack Developer         2  0.016807
12             Android Developer         2  0.016807
13                 iOS Developer         1  0.008403
14                         empty         1  0.008403
15                         empty         1  0.008403

In [373]:
cum = 0
last_index = 0
top_nds['cum'] = 0
for index, row in top_nds.iterrows():
    cum += row['%']
    top_nds['cum'].loc[index] = cum
top_nds = top_nds[top_nds['cum'] < 0.9]
top_nds

/Users/udacity-nathaliapaula/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

                     product_id  students         %       cum
0   Data Science Fundamentals I        36  0.302521  0.302521
1             Digital Marketing        17  0.142857  0.445378
2  Data Science Fundamentals II        13  0.109244  0.554622
3              Machine Learning        11  0.092437  0.647059
4               React Developer         8  0.067227  0.714286
5           Front-end Developer         7  0.058824  0.773109
6          Predictive Analytics         6  0.050420  0.823529
7          Intro to Programming         5  0.042017  0.865546

### Total graduations

In [369]:
grads_last_week = pd.read_sql_query("""SELECT count(DISTINCT payment_app_subscription.user_id) FROM payment_app_subscription
                                                INNER JOIN auth_user ON payment_app_subscription.user_id = auth_user.id
                                                WHERE status IN ('graduated')
                                                  AND graduation_date::date <= '""" + week_start.strftime('%Y-%m-%d') + "'", con=engine_ebdb)['count'].iloc[0]

grads_curr_week = pd.read_sql_query("""SELECT COUNT(DISTINCT payment_app_subscription.user_id) FROM payment_app_subscription
                                                INNER JOIN auth_user ON payment_app_subscription.user_id = auth_user.id
                                                WHERE status IN ('graduated')
                                                  AND graduation_date::date <= '""" + week_end.strftime('%Y-%m-%d') + "'", con=engine_ebdb)['count'].iloc[0]



print("Brazil graduates until " + week_start.strftime('%A, %b-%d') + ": " + str(grads_last_week))
print("Brazil graduates until " + week_end.strftime('%A, %b-%d') + ": " + str(grads_curr_week))

Brazil graduates until Monday, Nov-13: 1362
Brazil graduates until Monday, Nov-20: 1424

In [374]:
net_grad = grads_curr_week - grads_last_week; 
print("Net graduations last week: %d" % net_grad)
perc_grad_vs_lw = net_grad / grads_last_week; 
print("Net graduations vs last week: {0:+.1f}%".format(perc_grad_vs_lw * 100))

Net graduations last week: 62
Net graduations vs last week: +4.6%

### Opening paragraph

In [375]:
from IPython.display import Markdown, display
import locale

locale.setlocale(locale.LC_ALL, 'en_US')

def printmd(string):
    display(Markdown(string))

In [386]:
# First sentence

if graduated_students_curr_week == 0:
    grad_str = ''
elif graduated_students_curr_week == 1:
    grad_str = ' and **1 graduation**'
else:
    grad_str = ' and **%d graduations**' % graduated_students_curr_week

# Second sentence
main_nds_str = 'This was mainly driven by '

for index, row in top_nds.iterrows():
    main_nds_str += row['product_id'] + " **(+" + str(row['students']) + ")**"
    if (index + 1) == top_nds.shape[0]:
        main_nds_str += '.'
    elif (index + 2) == top_nds.shape[0]:
        main_nds_str += ' and '
    else:
        main_nds_str += ', '
    
printmd(
    """#### Summary
We closed this week with **%s** paying students, **%s** vs. last week, 
**%s** new paying students partially offset by **%s** cancellations/pauses%s. 
%s
""" 
    % (locale.format("%d", total_students_curr_week, grouping=True),
       "{0:+.1f}%".format(perc_growth_vs_lw * 100),
       locale.format("%+d", new_paying_students_curr_week, grouping=True),
       locale.format("%d", (cancelled_students_curr_week + paused_students_curr_week) , grouping=True),
       grad_str,
       main_nds_str
      )
)

# Table
str_1 = locale.format("%d", total_students_curr_week, grouping=True)
str_2 = "{0:+.1f}%".format(perc_growth_vs_lw * 100)
str_3 = ''
str_4 = "{:,}".format(grads_curr_week)
str_5 = "{0:+.1f}%".format(perc_grad_vs_lw * 100)

table_str = """
Q3 2017 Key Results | Last week
--- | ---
**KR1:** 10k paying students (10.5k stretch) | """ + str_1 + """ (""" + str_2 + """)
**KR2:** 1,500 graduates (1,800 stretch)  | """ + str_4 + """ (""" + str_5 + """)
**KR3:** P2 pass rate from 24% to 30% | """+ str_3 + """
"""
printmd(table_str)

#### Summary
We closed this week with **8,127** paying students, **+3.3%** vs. last week,
**+118** new paying students partially offset by **13** cancellations/pauses and **10 graduations**.
This was mainly driven by Data Science Fundamentals I **(+36)**, Digital Marketing **(+17)**, Data Science Fundamentals II **(+13)**, Machine Learning **(+11)**, React Developer **(+8)**, Front-end Developer **(+7)**, Predictive Analytics **(+6)** and Intro to Programming **(+5)**.

Q3 2017 Key Results | Last week
--- | ---
**KR1:** 10k paying students (10.5k stretch) | 8,127 (+3.3%)
**KR2:** 1,500 graduates (1,800 stretch)  | 1,424 (+4.6%)
**KR3:** P2 pass rate from 24% to 30% |